In [11]:
lst=["rags","saro","bhuvana",3845,["shakthi","navi"]]
print(lst[4][0][1])
print(tuple(lst),type(tuple(lst)))

h
('rags', 'saro', 'bhuvana', 3845, ['shakthi', 'navi']) <class 'tuple'>

In [15]:
lst1=["rags","saro","bhuva","navi","shakthi","raji"]
set1=set(lst1)
tup1=tuple(lst1)
lst2=list(tup1)
print(lst2,type(lst2))
print(set1,type(set1))
print(lst1,type(lst1))
print(tup1,type(tup1))

lst1[0]="geetha"
lst1[1]="geetha"
print(lst1,type(lst1))

['rags', 'saro', 'bhuva', 'navi', 'shakthi', 'raji'] <class 'list'>
{'bhuva', 'saro', 'shakthi', 'raji', 'rags', 'navi'} <class 'set'>
['rags', 'saro', 'bhuva', 'navi', 'shakthi', 'raji'] <class 'list'>
('rags', 'saro', 'bhuva', 'navi', 'shakthi', 'raji') <class 'tuple'>
['geetha', 'geetha', 'bhuva', 'navi', 'shakthi', 'raji'] <class 'list'>

In [17]:
tup3=(23,35,33,33)
print(tup3,type(tup3))
print(list(tup3),type(list(tup3)))

(23, 35, 33, 33) <class 'tuple'>
[23, 35, 33, 33] <class 'list'>

LIST AND ITS OPERATIONS

In [25]:
fuel_lst=["petrol","diesel","biodiesel","gasoline","coal","acetylene"]
#list to set
fuel_set=set(fuel_lst)
print(type(fuel_set))

<class 'set'>

In [26]:
#list to tuple
fuel_tup=tuple(fuel_lst)
print(type(fuel_tup))

<class 'tuple'>

In [27]:
#for adding single element in the list
fuel_lst.append("charcoal")
print(fuel_lst)

['petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 'charcoal']

In [28]:
#for adding a list to another list
fuel_lst.extend([33,45,66])
print(fuel_lst)

['petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 'charcoal', 33, 45, 66]

In [29]:
#if the extend is used for adding a single name then it seperated the string
fuel_lst.extend("raju")
print(fuel_lst)

['petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 'charcoal', 33, 45, 66, 'r', 'a', 'j', 'u']

In [30]:
#insert(pos,"value")
fuel_lst.insert(3,"oil")
print(fuel_lst)

['petrol', 'diesel', 'biodiesel', 'oil', 'gasoline', 'coal', 'acetylene', 'charcoal', 33, 45, 66, 'r', 'a', 'j', 'u']

In [31]:
#insert() withut position
fuel_lst.insert("speed-petrol")
print(fuel_lst)

TypeError: insert expected 2 arguments, got 1

In [32]:
#remove() with index
fuel_lst.remove(0)
print(fuel_lst)

ValueError: list.remove(x): x not in list

In [33]:
#remove("value") is used to delete with the given value not with the index
#remove("value") can delete only with the elements
fuel_lst.remove("oil")
print(fuel_lst)

['petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 'charcoal', 33, 45, 66, 'r', 'a', 'j', 'u']

In [34]:
#pop() delete the last element
fuel_lst.pop()
print(fuel_lst)

['petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 'charcoal', 33, 45, 66, 'r', 'a', 'j']

In [35]:
#pop(pos) cannot delete the element with the element
fuel_lst.pop("j")
print(fuel_lst)

TypeError: 'str' object cannot be interpreted as an integer

In [36]:
#pop(pos) delete only with the position
fuel_lst.pop(2)
print(fuel_lst)

['petrol', 'diesel', 'gasoline', 'coal', 'acetylene', 'charcoal', 33, 45, 66, 'r', 'a', 'j']

In [37]:
#index(pos) returns the position of the given element
print(fuel_lst.index("petrol"))

0

In [38]:
#count("value") count the duplicate elements
print(fuel_lst.count())

TypeError: list.count() takes exactly one argument (0 given)

In [39]:
print(fuel_lst.count("r"))

1

In [40]:
#sort cannot be done for the list which contains both integers and strings
fuel_lst.sort()
print(fuel_lst)

TypeError: '<' not supported between instances of 'int' and 'str'

In [41]:
fuel_lst.remove(33)
fuel_lst.remove(45)
fuel_lst.remove(66)

In [42]:
fuel_lst.sort()
print(fuel_lst)

['a', 'acetylene', 'charcoal', 'coal', 'diesel', 'gasoline', 'j', 'petrol', 'r']

In [43]:
#reverse
fuel_lst.reverse()
print(fuel_lst)

['r', 'petrol', 'j', 'gasoline', 'diesel', 'coal', 'charcoal', 'acetylene', 'a']

In [44]:
#this is deep copy
fuel_lst1=fuel_lst.copy()
print(fuel_lst1,fuel_lst1.index("petrol"))
print(fuel_lst,fuel_lst.index("petrol"))

['r', 'petrol', 'j', 'gasoline', 'diesel', 'coal', 'charcoal', 'acetylene', 'a'] 1
['r', 'petrol', 'j', 'gasoline', 'diesel', 'coal', 'charcoal', 'acetylene', 'a'] 1

In [45]:
fuel_lst1.append("biodiesel")
print(fuel_lst1)

['r', 'petrol', 'j', 'gasoline', 'diesel', 'coal', 'charcoal', 'acetylene', 'a', 'biodiesel']

In [46]:
print(fuel_lst)

['r', 'petrol', 'j', 'gasoline', 'diesel', 'coal', 'charcoal', 'acetylene', 'a']

In [47]:
#clear
fuel_lst1.clear()

In [48]:
print(fuel_lst1)

[]

TUPLE AND ITS OPERATIONS

In [49]:
#packaging
print(fuel_tup)

('petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene')

In [50]:
#unpackaging
#if there is only one element in a tuple then the tuple is considered as a single element not a tuple
#eg (1)==1
#eg ("rags")=="rags"
fuel_tup1=fuel_tup+(1)
print(fuel_tup1)

TypeError: can only concatenate tuple (not "int") to tuple

In [51]:
#unpackaging 
fuel_tup1=fuel_tup+(1,2)
print(fuel_tup1)

('petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 1, 2)

In [52]:
#unpackaging
fuel_tup2=(3,4,5)
fuel_tup1=fuel_tup+fuel_tup2
print(fuel_tup1)

('petrol', 'diesel', 'biodiesel', 'gasoline', 'coal', 'acetylene', 3, 4, 5)

In [53]:
print(fuel_tup.count("petrol"))

1

In [54]:
print(fuel_tup.index("petrol"))

0

DICTIONARY AND ITS OPERATIONS

In [4]:
dict_info={"name":"Rags","age":21,"dept":"cse","clg":"RIT","regno":38}

In [6]:
print(dict_info.items())

dict_items([('name', 'Rags'), ('age', 21), ('dept', 'cse'), ('clg', 'RIT'), ('regno', 38)])

In [8]:
print(dict_info.keys())

dict_keys(['name', 'age', 'dept', 'clg', 'regno'])

In [10]:
print(dict_info.values())

dict_values(['Rags', 21, 'cse', 'RIT', 38])

In [11]:
#pop
dict_info.pop("name")
print(dict_info)

{'age': 21, 'dept': 'cse', 'clg': 'RIT', 'regno': 38}

In [14]:
dict_info.update({"name":"Rags"})
print(dict_info)

{'age': 21, 'dept': 'cse', 'clg': 'RIT', 'regno': 38, 'name': 'Rags'}

In [16]:
dict_info.popitem()
print(dict_info)

{'age': 21, 'dept': 'cse', 'clg': 'RIT'}

In [17]:
dict_info1=dict_info.copy()
print(dict_info1)

{'age': 21, 'dept': 'cse', 'clg': 'RIT'}

In [19]:
dict_info1.update({"name":"rags"})
print(dict_info1)
print(dict_info)

{'age': 21, 'dept': 'cse', 'clg': 'RIT', 'name': 'rags'}
{'age': 21, 'dept': 'cse', 'clg': 'RIT'}

In [20]:
dict_info1.clear()
print(dict_info1)

{}

In [22]:
dict_info.update({"age":38})
print(dict_info)

{'age': 38, 'dept': 'cse', 'clg': 'RIT'}

In [23]:
dict_info.update({"age":38})
print(dict_info)

{'age': 38, 'dept': 'cse', 'clg': 'RIT'}

SET AND ITS OPERATIONS

In [56]:
print(fuel_set)

{'petrol', 'diesel', 'coal', 'gasoline', 'biodiesel', 'acetylene'}

In [60]:
fuel_set.add("charcoal")
print(fuel_set)

{'petrol', 'diesel', 'coal', 'gasoline', 'charcoal', 'biodiesel', 'acetylene'}

In [61]:
fuel_set.remove("charcoal")
print(fuel_set)

{'petrol', 'diesel', 'coal', 'gasoline', 'biodiesel', 'acetylene'}

In [62]:
#remove if element exists else raise error
fuel_set.remove("charcoal")
print(fuel_set)

KeyError: 'charcoal'

In [63]:
#discard  doesn't raise errors if the element is not present
fuel_set.discard("charcoal")
print(fuel_set)

{'petrol', 'diesel', 'coal', 'gasoline', 'biodiesel', 'acetylene'}

In [64]:
#subset
sub={1,2}.issubset(fuel_set)
print(sub)

False

In [66]:
#superset
sub=fuel_set.issuperset({1,2})
print(sub)

False

In [67]:
#union
fuel_set1={1,2,3,4,5}
print(fuel_set|fuel_set1)

{1, 2, 3, 4, 'petrol', 5, 'diesel', 'coal', 'gasoline', 'biodiesel', 'acetylene'}

In [72]:
#intersection
print(fuel_set & fuel_set1)

{'coal'}

In [73]:
fuel_set1.remove("coal")

In [74]:
#intersection if no intersection
print(fuel_set & fuel_set1)

set()

In [75]:
#difference
print(fuel_set-fuel_set1)

{'petrol', 'diesel', 'coal', 'gasoline', 'biodiesel', 'acetylene'}

In [76]:
#symmetric difference
print(fuel_set^fuel_set1)

{1, 2, 3, 4, 5, 'diesel', 'gasoline', 'petrol', 'coal', 'biodiesel', 'acetylene'}

In [77]:
#disjoint
print(fuel_set.isdisjoint(fuel_set1))

True

In [78]:
fuel_set2=fuel_set.copy()
print(fuel_set2)

{'petrol', 'biodiesel', 'diesel', 'coal', 'acetylene', 'gasoline'}

In [79]:
#pop() deletes first element
fuel_set.pop()
print(fuel_set)

{'diesel', 'coal', 'gasoline', 'biodiesel', 'acetylene'}

In [80]:
fuel_set.pop()
print(fuel_set)

{'coal', 'gasoline', 'biodiesel', 'acetylene'}